<section class="archive">
    <h1>Review</h1>
    <hr />
    <div class="entries-list">
    {% assign count = 0 %}
    {% for post in site.posts %}
    {% if post.categories contains 'review' and count < 5 %}
    <div class="{{ include.type | default: 'list' }}__item">
        <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
         
          <img width="20" height="20" src="/assets/logo/{{ post.prefix }}.svg" />
          <span class="archive__item-title no_toc" itemprop="headline">
              <a class="archive__post-title" href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
          </span>
        </article>
    </div>
    {% assign count = count | plus: 1 %}
    {% endif %}
    {% endfor %}
    </div>
</section>