---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include banner.html %}



  <section class="archive-container">

  {% include recent_post.html %}

  {% include flutter_post.html %}

  </section>

  <section class="archive-container">

  {% include fe_post.html %}

  {% include review_post.html %}
  
  </section>
 
  <section class="archive-container">

  {% include study_post.html %}

  <!-- {% include review_post.html %} -->
  
  </section>
  
  <!-- </section> -->
 
</div>